.dynamic-form{
    .dynamic-form-container{
        .form-field{
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            font-size: 1.6rem;
            input,select,textarea{
                width: 100%;
                border: none;
                border-bottom: 2px solid #232323;
                padding: 10px 10px;
                &:focus{
                    outline: none;
                }
            }
            textarea{
                resize: none;
                min-height: 15rem;
                border: 2px solid #212121;
            }
            select{
                text-transform: capitalize;
            }
            .error{
                color: red;
                padding: 5px 0;
            }
            .field-title{
                width: fit-content;
                font-size: 2rem;
                font-weight: bold;
                text-transform: capitalize;
                border-bottom: 3px solid black;
            }
            .field.rdbtn{
                display: flex;
                padding: 2rem;
                .form-radio-field{
                    display: flex;
                    width: min-content;
                    align-items: center;
                    input{
                        width: 15px;
                        height: 15px;
                        margin: 10px;
                    }
                }
            }
            &.form-field-checkbox{
                .checkbox-field{
                    flex-direction: row;
                    align-items: center;
                    font-weight: bolder;
                    input{
                        width: 15px;
                        height: 15px;
                        margin-right: 1rem;
                    }
                }
            }
        }
        .form-btn{
            display: flex;
            justify-content: center;
            button{
                font-size: 2rem;
                padding: 1rem 2rem;
            }
        }
    }
}