.loading {
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba($color: #000, $alpha: 0.4);
    span.spinner{
      display: block;
      position: relative;
      width: 100px;
      height: 100px;
      &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        border-top: 5px solid #fff;
        border-radius: 50%;
        border-right: 5px solid transparent;
        animation: rotate 1s linear infinite;
        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }
  }
.heading{
  padding: 3rem 0;
  font-size: 4rem;
  font-weight: bolder;
}