.data-container{
    padding: 5px;
    display: flex;
    border-bottom: 1px solid #212121;
    .data{
        flex:1;
        padding: 5px 5px;
    }
    &:last-child{
        border-bottom: none;
    }
}