@import "~bootstrap/scss/bootstrap";
*,
*::after,
*::before{
  margin:0;
  padding: 0;
  box-sizing: border-box; 
}
html {
    font-size: 62.5%;
    font-family: sans-serif;
    line-height: 1.15;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.tc{
  text-align: center;
}


